<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.Mapper.TaskMetricMapper">
    <select id="queryTaskMetricByMetricId" parameterType="Integer" resultType="com.zty.entity.TaskMetric">
        select Task_Id taskId,metric_id  metricId from T_TASK_METRICS where task_id =#{taskId}
    </select>
</mapper>